@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;


#root {
    width: 100%;
    min-height: 100vh;
    color: black;
    line-height: 1.4;
    font-family: $roboto;
}

// body {
//     margin: 0;
//     padding: 0;

//     width: 100%;
//     min-height: 100vh;

//     background: yellow;
//     // color: $dark;
//     font-family: $rubik;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 1.5;
//     overflow-x: hidden;
//     scroll-behavior: smooth;


// }

a, a:visited, a:active {
    text-decoration: none;
    color: $gray;
}

li {
    list-style-type: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
    outline: none;
    border: none;
}


